.marketing-activities-list-widget {
    .accordion-heading {
        > .extra-info {
            width: 60%;

            > .marketing-activity-type {
                margin-left: 8px;
                color: $primary-550;
                width: 50%;
            }

            > .marketing-activity-date {
                margin-left: 8px;
                color: $primary-550;
                width: 50%;
            }
        }

        > .campaign-name {
            width: 30%;
            margin: 9px 7px 0 0;
            padding-bottom: 1px;
            float: left;
        }
    }

    .marketing-activities {
        .marketing-activities-section-data-grid {
            h5 {
                margin-left: 20px;
            }
        }
    }
}
