/* @theme: admin.oro; */

#oro_marketing_list-column-list {
    .icon {
        min-width: $dropdown-item-icon-fa-size;
        height: $dropdown-item-icon-fa-size;
        margin-right: $dropdown-item-icon-fa-offset;

        text-align: center;
    }
}

#oro_marketing_list-column-list .name-cell {
    &:not(.has-icon) {
        padding-left: $content-padding-medium + $dropdown-item-icon-fa-size + $dropdown-item-icon-fa-offset;
    }
}

#column-information-notice {
    &:not(.has-fields) .column-information-fields-notice {
        display: none;
    }

    ul {
        margin-bottom: 0;
        margin-left: 8px;

        @include list-unstyled();
    }
}
