datagrids:
    marketing-activity-section-data-grid:
        acl_resource: oro_campaign_view
        source:
            type: orm
            query:
                select:
                    - emailCampaign.id as emailCampaignId
                    - emailCampaign.name as emailCampaignName
                    - ma.actionDate as eventDate
                    - eventType.id as eventTypeId
                    - eventType.name as eventTypeName
                    - ma.details
                from:
                    - { table: Oro\Bundle\MarketingActivityBundle\Entity\MarketingActivity , alias: ma }
                join:
                    left:
                        - { join: ma.type, alias: eventType }
                        -
                            join: 'Oro\Bundle\CampaignBundle\Entity\EmailCampaign'
                            alias: emailCampaign
                            conditionType: WITH
                            condition: 'emailCampaign.id = ma.relatedCampaignId AND ma.relatedCampaignClass = ''Oro\Bundle\CampaignBundle\Entity\EmailCampaign'''
                where:
                    and:
                        - ma.campaign = :id
                        - ma.entityClass = :entityClass
                        - ma.entityId = :entityId
            bind_parameters:
                - id
                - entityClass
                - entityId
            hints:
                - HINT_TRANSLATABLE
        columns:
            emailCampaignName:
                label: oro.marketingactivity.email_campaign.label
                cellClassName: 'direction-ltr'
            eventTypeName:
                label: oro.marketingactivity.event_type.label
            eventDate:
                label: oro.marketingactivity.event_date.label
                frontend_type: datetime
            details:
                label: oro.marketingactivity.details.label
        sorters:
            columns:
                emailCampaignName: { data_name: emailCampaign.name }
                eventTypeName:     { data_name: eventTypeName }
                eventDate:         { data_name: ma.actionDate }
                details:           { data_name: ma.details }
            default:
                eventDate: DESC
        filters:
            columns:
                emailCampaignName:
                    type: string
                    data_name: emailCampaign.name
                eventTypeName:
                    type: enum
                    data_name: eventTypeId
                    enum_code: ma_type
                eventDate:
                    type: datetime
                    data_name: ma.actionDate
                details:
                    type: string
                    data_name: ma.details
        properties:
            emailCampaignId: ~
            view_link:
                type: url
                route: oro_email_campaign_view
                params: { id: emailCampaignId }
        actions:
            view:
                type:         navigate
                label:        oro.grid.action.view
                link:         view_link
                icon:         eye
                acl_resource: oro_email_campaign_view
                rowAction:    true

